body {
  background-color: white;
  color: #252525;
  font-family: 'Nunito', sans-serif;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
  text-decoration: underline;
}

.first {
  list-style: none;
}

h3 {
  color: black !important;
}

.page-container {
  background-color: #fff;
  margin: 0px auto 0px auto;
  max-width: 1100px;
}

.res-head {
  background-color: #fff;
  padding: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.res-head .circle-image {
  background-color: #E0E0E0;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-image: url("../res/me_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.res-head .head-text {
  padding-left: 20px;
}

.res-head .head-text h1 {
  font-weight: normal;
  margin: 18px 0px 18px 0px;
}

.res-head .head-text p {
  color: #252525;
  margin: 5px 5px 20px 5px;
  font-size: 14px;
}

.res-neck {
  background-color: black;
  padding: 10px;
}

.res-neck .res-contact {
  line-height: 14px;
}

.res-neck .res-contact .contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.res-neck .res-contact .contact .contact-icon {
  width: 15px;
  margin: 0px 15px 0px 15px;
  background-repeat: no-repeat;
}

.res-neck .res-contact .contact #phone {
  background-image: url("../res/phone.png");
  background-position: center;
  background-size: contain;
}

.res-neck .res-contact .contact #email {
  background-image: url("../res/email.png");
  background-position: center;
  background-size: contain;
}

.res-neck .res-contact .contact #github {
  background-image: url("../res/github.png");
  background-position: center;
  background-size: contain;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.res-neck .res-contact .contact #linkedin {
  background-image: url("../res/linkedin.png");
  background-position: center;
  background-size: contain;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.res-body {
  background-color: #fff;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  border-radius: 0px 0px 15px 15px;
}

.res-body .first {
  width: 90%;
}

.res-body h3 {
  font-weight: normal;
  color: #252525;
  opacity: 0.6;
  font-size: 18px;
}

.res-body p {
  color: #252525;
  font-size: 12px;
}

.res-body .body-container {
  padding: 30px;
}

.res-body .res-ex p {
  margin: 0px;
}

.res-body .res-ex h2 {
  font-size: 20px;
  margin-top: 30px;
  color: black;
  line-height: normal;
}

.res-body .res-ex span {
  font-weight: lighter;
  color: #252525;
  opacity: 0.6;
}

.res-body .res-sum a {
  color: #252525;
  font-size: 12px;
}

.res-body .res-sum p {
  font-size: 12px;
}

.res-body .res-sum li {
  font-size: 12px;
  color: #252525;
}

.res-body .res-sum .project {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  color: #252525;
  padding-top: 10px;
}

.res-body .res-sum .project #fav1 {
  background-image: url("../res/puzzle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.res-body .res-sum .project #fav2 {
  background-image: url("../res/lock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.res-body .res-sum .project #fav3 {
  background-image: url("../res/music-icon1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.res-body .res-sum .project #fav4 {
  background-image: url("../res/sonic2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.res-body .res-sum .project #fav5 {
  background-image: url("../res/ring.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.res-body .res-sum .favicon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.5;
}

.res-body .res-sum .research-title {
  color: black !important;
  background: white !important;
  padding: 0px 0px 0px 3px !important;
  font-size: 18px !important;
  opacity: 0.6;
  font-weight: normal;
}

.res-body .res-sum span {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  line-height: 30px;
  border-radius: 10px;
}

.res-body .res-sum span span {
  padding: 0px;
  color: black;
}
/*# sourceMappingURL=styles.css.map */